server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/emsv0
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update  # changez en create ou validate selon vos besoins
    show-sql: true
    properties:
      hibernate:
        format_sql: true
flyway:
  user: postgres
  password: postgres
  schemas: emsv0
  enabled: true
  url: jdbc:postgresql://localhost:5432/emsv0
  locations: classpath:db/migration
